<div class="main">
    <div class="content">
        <div class="logo">
            <div class="log-div">
              <img src="../../../../assets/Logo.png" alt="" class="logo-img">  
            </div>
            <div class="log-cont">
                <p>Here to hire?
                    <a routerLink="/register-user">Join as a Client</a>
                </p>
            </div>
            
        </div>
        <div class="google-login">
            <div class="google-head">
                <h2>Join Us Today</h2>
            </div>
            <div class="google-cont">
                <p>Already have an Account?
                    <a routerLink="/login">Sign in</a>
                </p>
            </div>
            <div class="google-icon">
                <div class="icon">
                    <img src="../../../../assets/google.256x256.png" alt="" class="g-icon">
                </div>
                <div class="icon-text">
                    Sign up with Google
                </div>
                
            </div>
            <div class="google-or">
                   or Sign up with Email 
            </div>

        </div>
        <div class="form-div">
            <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="name-div">
                    <div class="fname-div">
                        <label for="">First Name</label><br>
                        <input type="text" placeholder="Jane" class="fname" formControlName="fname">
                        <div *ngIf="registerForm.get('fname')?.errors?.['required'] && registerForm.get('fname')?.touched" class="error-message" style="color: red;">
                        First Name required.
                        </div>
                    </div>
                    <div class="lname-div">
                        <label for="">Last Name</label><br>
                        <input type="text" placeholder="Doe" class="lname" formControlName="lname">
                        <div *ngIf="registerForm.get('lname')?.errors?.['required'] && registerForm.get('lname')?.touched" class="error-message" style="color: red;">
                        Last Name required.
                        </div>
                    </div>
                </div>
                <div class="email-div">
                    <label for="">Email</label><br>
                    <input type="email" placeholder="janedoe@gmail.com" class="email" formControlName="email">
                    <div *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched" class="error-message" style="color: red;">
                        Email required.
                    </div>
                    <div *ngIf="registerForm.get('email')?.errors?.['email'] &&registerForm.get('email')?.touched" class="error-message" style="color: red;">
                        Invalid email format.
                    </div> 
                </div>
                <div class="password-div">
                    <label for="">New Password</label><br>
                    <input type="password" placeholder="*************" class="password" formControlName="pwd">
                    <div *ngIf="registerForm.get('pwd')?.invalid && registerForm.get('pwd')?.touched" class="error-message" style="color: red;">
                    <div *ngIf="registerForm.get('pwd')?.errors?.['required']">Password is required.</div>
                    <div *ngIf="registerForm.get('pwd')?.errors?.['minlength'] && !registerForm.get('pwd')?.errors?.['required']">Password must be at least 6 characters long.</div>
                    </div>
                </div>
                <div class="password-div">
                    <label for="">Confirm New Password</label><br>
                    <input type="password" placeholder="*************" class="password" formControlName="confirmPwd">
                    <div *ngIf="registerForm.get('confirmPwd')?.errors && registerForm.get('confirmPwd')?.touched" class="error-message" style="color: red;">
                    <div *ngIf="registerForm.get('confirmPwd')?.errors?.['required']">Confirm Password is required.</div>
                    <div *ngIf="registerForm.get('confirmPwd')?.errors?.['mismatch'] && !registerForm.get('confirmPwd')?.errors?.['required']">Passwords do not match.</div>
                    </div>
                </div>
                <div class="submit-btn">
                    <button class="sign-in-btn">Sign in</button>
                </div>
                
            </form>
            
        </div>

    </div>
    <div class="pic">
        <img src="../../../../assets/SC- Register.jpg" alt="" class="login-pic">
    </div>
</div>
