<div class="main" *ngFor="let specDetail of specDetails">
    <div class="head">
        <div class="spec-img">
            <img src="{{specDetail.prof_image}}" alt="" class="spec-image">
        </div>
        <div class="spec-loc">
            <h2>{{specDetail.f_name}} {{specDetail.l_name}}</h2>
            <p>{{specDetail.spec_loc}}</p>
        </div>
    </div>
    <div class="desc">
        <div class="spec-desc">
            <h3>{{specDetail.job_title}}</h3>
            <p>{{specDetail.spec_desc}}</p>
        </div>
        <div class="spec-ratings">
            <p><b>Ratings:</b> Kshs. {{specDetail.ratings}}</p>
        </div>
    </div>
    <div class="reviews">
        <div class="rev-title">
            <h2>What people think</h2>
        </div>
        <div class="rev-content">
            <div class="rev1">
                <p>
                    The best Data analyst I have with so far. Very reliable 
                    I highly recommend <br>
                    <b>~Sheilla</b>
                </p>
            </div>
             <div class="rev1">
                <p>
                    The best Data analyst I have with so far. Very reliable 
                    I highly recommend <br>
                    <b>~Sheilla</b>
                </p>
            </div>
             <div class="rev1">
                <p>
                    The best Data analyst I have with so far. Very reliable 
                    I highly recommend <br>
                    <b>~Sheilla</b>
                </p>
            </div>
             <div class="rev1">
                <p>
                    The best Data analyst I have with so far. Very reliable 
                    I highly recommend <br>
                    <b>~Sheilla</b>
                </p>
            </div>
        </div>
        <div class="invite">
            <button class="invite-btn" (click)="giveSpecOrder(specDetail.spec_id)">Invite for Job</button>
        </div>
    </div>
    
</div>
