<div class="main">
    <div class="head">
        <div class="spec-img">
            <img src="../../../../assets/woman-1439909_1280.jpg" alt="" class="spec-image">
        </div>
        <div class="spec-loc">
            <h2>Jane Doe</h2>
            <p>Nairobi, Kenya</p>
        </div>
    </div>
    <div class="desc">
        <div class="spec-desc">
            <h3>Data Analyst</h3>
            <p>Specializes in Data Cleaning</p>
        </div>
        <div class="spec-ratings">
            <p><b>Ratings:</b> Kshs. 1000 per hour</p>
        </div>
    </div>
    <div class="reviews">
        <div class="rev-title">
            <h2>What people think</h2>
        </div>
        <div class="rev-content">
            <div class="rev1">
                <p>
                    The best Data analyst I have with so far. Very reliable 
                    I highly recommend <br>
                    <b>~Sheilla</b>
                </p>
            </div>
             <div class="rev1">
                <p>
                    The best Data analyst I have with so far. Very reliable 
                    I highly recommend <br>
                    <b>~Sheilla</b>
                </p>
            </div>
             <div class="rev1">
                <p>
                    The best Data analyst I have with so far. Very reliable 
                    I highly recommend <br>
                    <b>~Sheilla</b>
                </p>
            </div>
             <div class="rev1">
                <p>
                    The best Data analyst I have with so far. Very reliable 
                    I highly recommend <br>
                    <b>~Sheilla</b>
                </p>
            </div>
        </div>
        <div class="invite">
            <button class="invite-btn">Invite for Job</button>
        </div>
    </div>
    
</div>
