<div class="main">
    <div class="content">
        <div class="logo">
            <div class="log-div">
              <img src="../../../../assets/Logo.png" alt="" class="logo-img">  
            </div>
            <div class="log-cont">
                <p>Looking for work?
                    <a routerLink="/register-spec">Apply as Talent</a>
                </p>
            </div>
            
        </div>
        <div class="google-login">
            <div class="google-head">
                <h2>Join Us Today</h2>
            </div>
            <div class="google-cont">
                <p>Already have an Account?
                    <a routerLink="/login">Sign in</a>
                </p>
            </div>
            <div class="google-icon">
                <div class="icon">
                    <img src="../../../../assets/google.256x256.png" alt="" class="g-icon">
                </div>
                <div class="icon-text">
                    Sign up with Google
                </div>
                
            </div>
            <div class="google-or">
                   or Sign up with Email 
            </div>

        </div>
        <div class="form-div">
            <form class="form">
                <div class="name-div">
                    <div class="fname-div">
                        <label for="">First Name</label><br>
                        <input type="text" placeholder="Jane" class="fname">
                    </div>
                    <div class="lname-div">
                        <label for="">Last Name</label><br>
                        <input type="text" placeholder="Doe" class="lname">
                    </div>
                </div>
                <div class="email-div">
                    <label for="">Email</label><br>
                    <input type="email" placeholder="janedoe@gmail.com" class="email"> 
                </div>
                <div class="password-div">
                    <label for="">New Password</label><br>
                    <input type="password" placeholder="*************" class="password">
                </div>
                <div class="password-div">
                    <label for="">Confirm New Password</label><br>
                    <input type="password" placeholder="*************" class="password">
                </div>
                <div class="submit-btn">
                    <button class="sign-in-btn">Sign in</button>
                </div>
                
            </form>
            
        </div>

    </div>
    <div class="pic">
        <img src="../../../../assets/SC- Register.jpg" alt="" class="login-pic">
    </div>
</div>
