<div class="main">
    <div class="side-bar">
        <div class="logo">
            <img src="../../../../assets/Logo-white.png" alt="" class="logo-pic">
        </div>
        <div class="menu">
            <ul class="menu-list">
                <li routerLink="/user/dashboard">
                    <i class="fa-solid fa-house fa-lg"></i>
                    Dashboard
                </li>
                <li routerLink="/user/settings">
                    <i class="fa-solid fa-gear fa-lg"></i>
                    Settings
                </li>
                <li routerLink="/user/orders">
                    <i class="fa-solid fa-list-check fa-lg"></i>
                    Orders
                </li>
            </ul>
        </div>
        <div class="logout" (click)="logout()">
            <p>
                <i class="fa-solid fa-right-from-bracket fa-lg"></i>
                Logout
            </p>
        </div>

    </div>
    <div class="content">
        <div class="nav-place">
            <nav class="navbar">
                <div class="hamburger-icon" (click)="showModalMenu()">
                    <i class="fa-solid fa-bars fa-lg"></i>
                </div>
                <div class="search">
                    <input type="search" placeholder="Search" class="search-input" [(ngModel)]="filter">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="account">
                    <i class="fa-solid fa-user"></i>
                    {{email}}
                </div>

            </nav>
        </div>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
        
    </div>
    <div class="modal-bg">
        <div class="modal">
            <div class="menu2">
                <ul class="menu-list">
                    <li routerLink="/user/dashboard">
                        <i class="fa-solid fa-house fa-lg"></i>
                        Dashboard
                    </li>
                    <li routerLink="/user/settings">
                        <i class="fa-solid fa-gear fa-lg"></i>
                        Settings
                    </li>
                    <li routerLink="/user/orders">
                        <i class="fa-solid fa-list-check fa-lg"></i>
                        Orders
                    </li>
                    <li (click)="logout()">
                        <i class="fa-solid fa-right-from-bracket fa-lg"></i>
                        Logout
                    </li>
                </ul>
            </div>
            <div class="close-modal">
                <button class="close-btn" (click)="closeModalMenu()">Close</button>
            </div>
        </div>
    </div>
</div>
