<div class="main">
    <h2>Your Profile</h2>
    <div class="photo-sect">
        <div class="photo">
            <p>Your Photo</p>
            <img src="../../../../assets/icon-1633249_1280.png" alt="" class="icon-pic">
        </div>
        <div class="actions">
            <i class="fa-solid fa-pen-to-square fa-lg"></i>
            <i class="fa-solid fa-trash fa-lg"></i>
        </div>
    </div>
    <hr>
    <div class="bio-bit">
        <form class="bio-form">
            <div class="bio-title">
                <h2>Bio Settings</h2>
            </div>
            <div class="job-title">
                <label for="">Job Tile</label>
                <input type="text" placeholder="Data analyst,etc">
            </div>
            <div class="job-desc">
                <label for="">Description of what you do</label><br>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="location">
                <label for="">Location</label>
                <input type="text">
            </div>
            <div class="ratings">
                <label for="">Ratings</label>
                <input type="number">
            </div>
            <div class="sub-btn">
                <button class="submit-btn">Submit</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="pwd-bit">
        <form class="pwd-form">
            <div class="old-pwd">
                <h2>Password Settings</h2>
            </div>
            <div class="old-pwd">
                <label for="">Old Password</label><br>
                <input type="password" placeholder="*************">
            </div>
            <div class="old-pwd">
                <label for="">New Password</label><br>
                <input type="password" placeholder="*************">
            </div>
            <div class="old-pwd">
                <label for="">Confirm New Password</label><br>
                <input type="password" placeholder="*************">
            </div>
            <div class="old-pwd">
                <button>Change Password</button>
            </div>
        </form>
    </div>
</div>
