<div class="main">
    <h2>Your Profile</h2>
    <div class="photo-sect">
        <div class="photo">
            <p>Your Photo</p>
            <img src="{{img_src}}" alt="" class="icon-pic">
        </div>
        <div class="actions">
            <i class="fa-solid fa-pen-to-square fa-lg"></i>
            <i class="fa-solid fa-trash fa-lg"></i>
        </div>
    </div>
    <hr>
    <div class="bio-bit">
        <form class="bio-form" [formGroup]="bioSettingsForm" (ngSubmit)="bioSettings()">
            <div class="bio-title">
                <h2>Bio Settings</h2>
            </div>
            <div class="job-title">
                <label for="">Job Title</label>
                <select class="select-box" formControlName="j_title">
                    <option value="">Select Job Title</option>
                    <option value="UI Designer">UI Designer</option>
                    <option value="Data Analyst">Data Analyst</option>
                    <option value="Virtual Assistant">Virtual Assistant</option>
                    <option value="Web Developer">Web Developer</option>
                    <option value="Digital Marketer">Digital Marketer</option>
                </select>
                <!-- <input type="text" placeholder="Data analyst,etc" formControlName="j_title"> -->
                <div *ngIf="bioSettingsForm.get('j_title')?.errors?.['required'] && bioSettingsForm.get('j_title')?.touched" class="error-message" style="color: red;">
                        Job Title required.
                </div>
            </div>
            <div class="job-desc">
                <label for="">Description of what you do</label><br>
                <textarea name="" id="" cols="30" rows="10" formControlName="j_desc"></textarea>
                <div *ngIf="bioSettingsForm.get('j_desc')?.errors?.['required'] && bioSettingsForm.get('j_desc')?.touched" class="error-message" style="color: red;">
                        Job Description required.
                </div>
            </div>
            <div class="location">
                <label for="">Location</label>
                <input type="text" formControlName="j_loc">
                <div *ngIf="bioSettingsForm.get('j_loc')?.errors?.['required'] && bioSettingsForm.get('j_loc')?.touched" class="error-message" style="color: red;">
                        Job Location required.
                </div>
            </div>
            <div class="ratings">
                <label for="">Ratings</label>
                <input type="number" formControlName="j_rates">
                <div *ngIf="bioSettingsForm.get('j_rates')?.errors?.['required'] && bioSettingsForm.get('j_rates')?.touched" class="error-message" style="color: red;">
                        Job Rates required.
                </div>
            </div>
            <div class="sub-btn">
                <button class="submit-btn">Submit</button>
            </div>
        </form>
    </div>
    <hr>
    <div class="pwd-bit">
        <form class="pwd-form" [formGroup]="settingsForm" (ngSubmit)="pwdSettings()">
            <div class="old-pwd2">
                <h2>Password Settings</h2>
            </div>
            <div class="old-pwd">
                <label for="">Email</label><br>
                <input type="email" placeholder="janedoe@gmail.com" formControlName="email">
                <div *ngIf="settingsForm.get('email')?.errors?.['required'] && settingsForm.get('email')?.touched" class="error-message" style="color: red;">
                        Email required.
                </div>
                <div *ngIf="settingsForm.get('email')?.errors?.['email'] &&settingsForm.get('email')?.touched" class="error-message" style="color: red;">
                        Invalid email format.
                </div>
            </div>
            <div class="old-pwd">
                <label for="">New Password</label><br>
                <input type="password" placeholder="*************" formControlName="pwd">
                <div *ngIf="settingsForm.get('pwd')?.invalid && settingsForm.get('pwd')?.touched" class="error-message" style="color: red;">
                    <div *ngIf="settingsForm.get('pwd')?.errors?.['required']">Password is required.</div>
                    <div *ngIf="settingsForm.get('pwd')?.errors?.['minlength'] && !settingsForm.get('pwd')?.errors?.['required']">Password must be at least 6 characters long.</div>
                </div>
            </div>
            <div class="old-pwd">
                <label for="">Confirm New Password</label><br>
                <input type="password" placeholder="*************" formControlName="confirmPwd">
                <div *ngIf="settingsForm.get('confirmPwd')?.errors && settingsForm.get('confirmPwd')?.touched" class="error-message" style="color: red;">
                    <div *ngIf="settingsForm.get('confirmPwd')?.errors?.['required']">Confirm Password is required.</div>
                    <div *ngIf="settingsForm.get('confirmPwd')?.errors?.['mismatch'] && !settingsForm.get('confirmPwd')?.errors?.['required']">Passwords do not match.</div>
                </div>
            </div>
            <div class="old-pwd2">
                <button class="pwd-btn">Change Password</button>
            </div>
        </form>
    </div>
</div>
