.main {
  width: 100%;
  min-height: 100vh;
  max-height: max-content;
  display: flex;
  flex-direction: column;
}
.photo-sect {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon-pic{
    height: 10vh;
    border: 1px solid #6C6363;
    border-radius: 50px;
}
.actions{
    display: flex;
    justify-content: space-between;
    width: 15%;
}
.fa-pen-to-square{
    color: green;
    cursor: pointer;
}
.fa-pen-to-square:hover{
    color: limegreen;
}
.fa-trash{
    color: brown;
    cursor: pointer;
}
.fa-trash:hover{
    color: red;
}
.bio-bit{
    width: 100%;
    min-height: 80vh;
    max-height: max-content;
    display: flex;
    justify-content: center;
}
.bio-form{
    width: 60%;
    min-height: 70vh;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.job-title,.ratings,.location,.sub-btn,.job-desc{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-btn{
    justify-content: space-around;
}
.job-desc textarea{
    width: 58%;
    padding-top: 2%;
    padding-left: 2%;
    background-color: #DEE8FB;
    border-radius: 20px;
    border: none;
}
.bio-form label{
    font-weight: 500;
    font-size: 18px;
}
.bio-form input{
    height: 5vh;
    width: 58%;
    padding-left: 2%;
    background-color: #DEE8FB;
    border-radius: 20px;
    border: none;
}
.submit-btn{
    height: 5vh;
    width: 60%;
    color: white;
    background-color: #2369F2;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: #03215C;
}
.pwd-bit{
    width: 100%;
    min-height: 50vh;
    max-height: max-content;
    display: flex;
    justify-content: center;
}
.pwd-form{
    width: 60%;
    min-height: 45vh;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.old-pwd{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.old-pwd2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.old-pwd>label{
    font-weight: 500;
    font-size: 18px;
}
.old-pwd>input{
    height: 5vh;
    width: 58%;
    padding-left: 2%;
    background-color: #DEE8FB;
    border-radius: 20px;
    border: none;
}
.pwd-btn{
     height: 5vh;
    width: 60%;
    color: white;
    background-color: #2369F2;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.pwd-btn:hover{
    background-color: #03215C;
}

@media (max-width:768px) {
    .bio-form{
        width: 90%;
    }
    .pwd-form{
        width: 90%;
    }
}
@media (max-width:425px) {
    .bio-form{
        width: 98%;
    }
    .pwd-form{
        width: 98%;
    }
}