<div class="main">
    <div class="head">
        <div class="title">
            <h2>Users</h2>
        </div>
        <div class="filter">
            Filter
            <select class="select-box">
                <option value="">Type of User</option>
                <option value="specialist">Specialist</option>
                <option value="user">User</option>
            </select>
        </div>
    </div>
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users ; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{user.f_name}}</td>
                    <td>{{user.l_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.role}}</td>
                    <td>
                        <i class="fa-solid fa-trash"></i>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
