<div class="main">
    <div class="pic">
        <img src="../../../../assets/SC- Login.jpg" alt="" class="login-pic">
    </div>
    <div class="content">
        <div class="logo">
            <img src="../../../../assets/Logo.png" alt="" class="logo-img">
        </div>
        <div class="google-login">
            <div class="google-head">
                <h2>Sign in to your Account</h2>
            </div>
            <div class="google-cont">
                <p>Dont have an Account?
                    <a routerLink="/register-as">Join Here</a>
                </p>
            </div>
            <div class="google-icon">
                <div class="icon">
                    <img src="../../../../assets/google.256x256.png" alt="" class="g-icon">
                </div>
                <div class="icon-text">
                    Sign in with Google
                </div>
                
            </div>
            <div class="google-or">
                   or Sign in with Email 
            </div>

        </div>
        <div class="form-div">
            <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="email-div">
                    <label for="">Email</label><br>
                    <input type="email" placeholder="janedoe@gmail.com" class="email" formControlName="email">
                    <div *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched" class="error-message" style="color: red;">
                        Email is required.
                    </div>
                </div>
                <div class="password-div">
                    <label for="">Password</label><br>
                    <input type="password" placeholder="*************" class="password" formControlName="pwd">
                    <div *ngIf="loginForm.get('pwd')?.errors?.['required'] && loginForm.get('pwd')?.touched" class="error-message" style="color: red;">
                        Password is required.
                    </div>
                    <div class="forgot-div">
                        <p>Forgot Password</p>
                    </div>
                </div>
                <div class="submit-btn">
                    <button class="sign-in-btn">Sign in</button>
                </div>
                
            </form>
            
        </div>

    </div>
</div>
