<app-navbar></app-navbar>
<div class="main">
    <div class="landing-image">
        <div class="land-img">
            <img src="../../../../assets/Land1.jpg" alt="" class="land1">
            <img src="../../../../assets/Land2.jpg" alt="" class="land2">
            <img src="../../../../assets/Land3.jpg" alt="" class="land3">
        </div>
    </div>
    <div class="pop-services">
        <h2>Popular Services</h2>
        <div class="pop-serve">
            <div class="pop1">
                <img src="../../../../assets/pop1.jpg" alt="" class="pop-img">
                <div class="pop-txt1">
                    <p class="p-txt1">
                        Digital Marketing
                    </p>
                </div>
            </div>
            <div class="pop1">
                <img src="../../../../assets/pop2.jpg" alt="" class="pop-img">
                <div class="pop-txt2">
                    <p class="p-txt2">
                        Virual Assitant
                    </p>
                </div>
            </div>
            <div class="pop1">
                <img src="../../../../assets/pop3.jpg" alt="" class="pop-img">
                <div class="pop-txt3">
                    <p class="p-txt3">
                        UI Design
                    </p>
                </div>
            </div>
            <div class="pop1">
                <img src="../../../../assets/pop4.jpg" alt="" class="pop-img">
                <div class="pop-txt4">
                    <p class="p-txt4">
                        Data Analyst
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="best-part">
        <div class="best-cont">
            <h2>The best part? Everything</h2>
            <div class="val1">
               <div class="cont-head">
                <i class="fa-solid fa-circle-check"></i>
                    Stick to your budget
                </div>
                <div class="cont-body">
                    <p>
                        Find the right service for every price point. No 
                        hourly rates, just project-based pricing.
                    </p>
                </div> 
            </div>
            <div class="val1">
               <div class="cont-head">
                <i class="fa-solid fa-circle-check"></i>
                    Get quality work done quickly
                </div>
                <div class="cont-body">
                    <p>
                        Hand your project over to a talented freelancer in 
                        minutes, get long-lasting results.
                    </p>
                </div> 
            </div>
            <div class="val1">
               <div class="cont-head">
                <i class="fa-solid fa-circle-check"></i>
                    Pay when you're happy
                </div>
                <div class="cont-body">
                    <p>
                        Upfront quotes mean no surprises. Payments 
                        only get released when you approve.
                    </p>
                </div> 
            </div>
            <div class="val1">
               <div class="cont-head">
                    <i class="fa-solid fa-circle-check"></i>
                    Count on 24/7 support
                </div>
                <div class="cont-body">
                    <p>
                        Our round-the-clock support team is available to 
                        help anytime, anywhere.
                    </p>
                </div> 
            </div>
            
        </div>
        <div class="best-img">
            <img src="../../../../assets/best-pic.jpg" alt="" class="best-pic">
        </div>
    </div>
    <div class="all-services">
        <h2>You need it, We've got it</h2>
        <div class="all-serve">
            <div class="data-serve">
                <img src="../../../../assets/all-serve 1.png" alt="" class="all-serve-pic">
                <p>Data Analysis</p>
            </div>
            <div class="data-serve">
                <img src="../../../../assets/all-serve 2.png" alt="" class="all-serve-pic">
                <p>UI Design</p>
            </div>
            <div class="data-serve">
                <img src="../../../../assets/all-serve 3.png" alt="" class="all-serve-pic">
                <p>Virtual Assistant</p>
            </div>
            <div class="data-serve">
                <img src="../../../../assets/all-serve 4.png" alt="" class="all-serve-pic">
                <p>Web Design</p>
            </div>
            <div class="data-serve">
                <img src="../../../../assets/all-serve 5.png" alt="" class="all-serve-pic">
                <p>Digital Marketing</p>
            </div>
        </div>
    </div>
    <div class="reviews-div">
        <div class="rev-title">
            <h1>What our Customers say about us</h1>
        </div>
        <div class="rev-cont">
            <div class="revs">
                <div class="before">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="review">
                    <img src="../../../../assets/woman-1439909_1280.jpg" alt="" class="rev-image">
                    <h2>Magdalene Grace</h2>
                    <h3>Fashion Designer</h3>
                    <p>Their designs are the best I have ever seen.</p>
                </div>
                <div class="next">
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner-text">
            <p>
                Freelance services at your <br>
                fingertips
            </p>
            <button class="banner-btn" routerLink="/register-as">Join SpecialistConnect</button>
        </div>
        <div class="banner-img">
            <img src="../../../../assets/banner-pic.jpg" alt="" class="banner-pic">
        </div>
    </div>
</div>
<app-footer></app-footer>
