<app-navbar></app-navbar>
<div class="main">
    <div class="landing-image">
        <div class="land-img">
            <img src="../../../../assets/Land1.jpg" alt="" class="land1">
            <img src="../../../../assets/Land2.jpg" alt="" class="land2">
            <img src="../../../../assets/Land3.jpg" alt="" class="land3">
        </div>
    </div>
    <div class="pop-services">
        <h2>Popular Services</h2>
        <div class="pop-serve">
            <div class="pop1">
                <img src="../../../../assets/pop1.jpg" alt="" class="pop-img">
            </div>
            <div class="pop1">
                <img src="../../../../assets/pop2.jpg" alt="" class="pop-img">
            </div>
            <div class="pop1">
                <img src="../../../../assets/pop3.jpg" alt="" class="pop-img">
            </div>
            <div class="pop1">
                <img src="../../../../assets/pop4.jpg" alt="" class="pop-img">
            </div>
        </div>
    </div>
    <div class="best-part">
        <div class="best-cont">
            <h2>The best part? Everything</h2>
            <div class="val1">
               <div class="cont-head">
                    Stick to your budget
                </div>
                <div class="cont-body">
                    <p>
                        Find the right service for every price point. No 
                        hourly rates, just project-based pricing.
                    </p>
                </div> 
            </div>
            <div class="val1">
               <div class="cont-head">
                    Get quality work done quickly
                </div>
                <div class="cont-body">
                    <p>
                        Hand your project over to a talented freelancer in 
                        minutes, get long-lasting results.
                    </p>
                </div> 
            </div>
            <div class="val1">
               <div class="cont-head">
                    Pay when you're happy
                </div>
                <div class="cont-body">
                    <p>
                        Upfront quotes mean no surprises. Payments 
                        only get released when you approve.
                    </p>
                </div> 
            </div>
            <div class="val1">
               <div class="cont-head">
                    Count on 24/7 support
                </div>
                <div class="cont-body">
                    <p>
                        Our round-the-clock support team is available to 
                        help anytime, anywhere.
                    </p>
                </div> 
            </div>
            
        </div>
        <div class="best-img">
            <img src="../../../../assets/best-pic.jpg" alt="" class="best-pic">
        </div>
    </div>
    <div class="all-services">

    </div>
    <div class="reviews">
        
    </div>
    <div class="banner">
        <div class="banner-text">
            <p>
                Freelance services at your <br>
                fingertips
            </p>
            <button class="banner-btn" routerLink="/register-as">Join SpecialistConnect</button>
        </div>
        <div class="banner-img">
            <img src="../../../../assets/banner-pic.jpg" alt="" class="banner-pic">
        </div>
    </div>
</div>
<app-footer></app-footer>
