<div class="main">
    <div class="logo">
        <img src="../../../../assets/Logo.png" alt="" class="logo-pic">
    </div>
    <div class="content">
        <div class="cont-title">
           <h1>Join as a Client or Freelancer</h1> 
        </div>
        <div class="cont-boxes">
            <div class="client-box" routerLink="/register-user">
                <i class="fa-solid fa-user-tie fa-2xl"></i>
                <p>
                    I’m a client hiring for a project
                </p>
            </div>
            <div class="freelance-box" routerLink="/register-spec">
                <i class="fa-solid fa-user-gear fa-2xl"></i>
                <p>
                    I’m a freelancer, looking for work
                </p>
            </div>

        </div>
        <div class="cont-account">
            <p>
                Already have an Account?
                <a routerLink="/login">Sign In</a>
            </p>
        </div>
        
    </div>
</div>
