<div class="main">
    <div class="head">
        <div class="title">
            <h2>Freelance</h2>
        </div>
        <div class="filter">
            Filter
            <select class="select-box">
                <option value="">Skills</option>
                <option value="ui-designer">UI Designer</option>
                <option value="data-analyst">Data Analyst</option>
                <option value="virtual-assistant">Virtual Assistant</option>
                <option value="web-designer">Web Designer</option>
                <option value="dig-marketing">Digital Marketer</option>
            </select>
        </div>
        
    </div>
    <div class="content">
        <div class="spec-info" routerLink="/user/view-spec">
            <div class="spec-head">
                <div class="photo">
                    <img src="../../../../assets/woman-1439909_1280.jpg" alt="" class="spec-pic">
                </div>
                <div class="spec-name">
                    <h3>Jane Doe</h3>
                    <p>Nairobi, Kenya</p>
                </div>
            </div>
            <div class="spec-desc">
                <h3>Data Analyst</h3>
                <p>Specializing in Data Cleaning</p>
            </div>
            <div class="spec-rates">
                <h3>Ratings</h3>
                <p>Ksh. 1000/hr</p>
            </div>
            <div class="spec-job">
                <button class="job-btn" routerLink="/user/give-order">Invite for Job</button>
            </div>
        </div>
        <div class="spec-info" routerLink="/user/view-spec">
            <div class="spec-head">
                <div class="photo">
                    <img src="../../../../assets/woman-1439909_1280.jpg" alt="" class="spec-pic">
                </div>
                <div class="spec-name">
                    <h3>Jane Doe</h3>
                    <p>Nairobi, Kenya</p>
                </div>
            </div>
            <div class="spec-desc">
                <h3>Data Analyst</h3>
                <p>Specializing in Data Cleaning</p>
            </div>
            <div class="spec-rates">
                <h3>Ratings</h3>
                <p>Ksh. 1000/hr</p>
            </div>
            <div class="spec-job">
                <button class="job-btn" routerLink="/user/give-order">Invite for Job</button>
            </div>
        </div>
        <div class="spec-info" routerLink="/user/view-spec">
            <div class="spec-head">
                <div class="photo">
                    <img src="../../../../assets/woman-1439909_1280.jpg" alt="" class="spec-pic">
                </div>
                <div class="spec-name">
                    <h3>Jane Doe</h3>
                    <p>Nairobi, Kenya</p>
                </div>
            </div>
            <div class="spec-desc">
                <h3>Data Analyst</h3>
                <p>Specializing in Data Cleaning</p>
            </div>
            <div class="spec-rates">
                <h3>Ratings</h3>
                <p>Ksh. 1000/hr</p>
            </div>
            <div class="spec-job">
                <button class="job-btn" routerLink="/user/give-order">Invite for Job</button>
            </div>
        </div>
        <div class="spec-info" routerLink="/user/view-spec">
            <div class="spec-head">
                <div class="photo">
                    <img src="../../../../assets/woman-1439909_1280.jpg" alt="" class="spec-pic">
                </div>
                <div class="spec-name">
                    <h3>Jane Doe</h3>
                    <p>Nairobi, Kenya</p>
                </div>
            </div>
            <div class="spec-desc">
                <h3>Data Analyst</h3>
                <p>Specializing in Data Cleaning</p>
            </div>
            <div class="spec-rates">
                <h3>Ratings</h3>
                <p>Ksh. 1000/hr</p>
            </div>
            <div class="spec-job">
                <button class="job-btn" routerLink="/user/give-order">Invite for Job</button>
            </div>
        </div>

    </div>
</div>
