<div class="main">
    <div class="form-div">
        <form class="form">
            <div class="form-head">
                <h2>Settings</h2>
            </div>
            <div class="form-body">
                <label for="">Old Password</label><br>
                <input type="password" placeholder="************" class="input-pwd">
            </div>
            <div class="form-body">
                <label for="">New Password</label><br>
                <input type="password" placeholder="************" class="input-pwd">
            </div>
            <div class="form-body">
                <label for="">Confirm New Password</label><br>
                <input type="password" placeholder="************" class="input-pwd">
            </div>
            <div class="form-body">
                <button class="pwd-btn">Change Password</button>
            </div>
            
        </form>
    </div>
</div>
